.quote-card-single {

    display: flex;

    padding: 50px 24px 66px;

    @include media-breakpoint-up(md) {
        padding: 60px 32px 76px;
    }

    @include media-breakpoint-up(lg) {
        padding: 100px 8% 116px;
    }

}

.quote-card-single .quote-card__quote-wrapper {
    
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    text-align: center;

}

.quote-card-single .quote-card__quote-wrapper p {

    @include font(h6);

    line-height: 1.4;
    text-align: center;
    
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        font-size: $font-size-h4-desktop;
        max-width: 95%;
    }

    @include media-breakpoint-up(lg) {
        max-width: $inner-content-max-width-lg;
    }

}

.quote-card-single--font-large .quote-card__quote-wrapper p {

    @include media-breakpoint-up(md) {
        font-size: $font-size-h4-desktop;
    }

    @include media-breakpoint-up(lg) {
    
        font-size: $font-size-h3-desktop;
        line-height: 1.3;
    
        max-width: none;
    
    }

}

.quote-card-single .quote-card__person-info-text h5 {
    @include font(body-m);
    
    @include media-breakpoint-up(md) {
        font-size: $font-size-h7-desktop;
    }
}

.quote-card-single .quote-card__person-info-text h6 {

    margin-top: map-get($spacers, 2);

    @include font(h7);

    @include media-breakpoint-up(md) {
        @include font(h6);
    }
    
}

.quote-card-single--left .quote-card__quote-wrapper {
    align-items: flex-start;
}

.quote-card-single--left .quote-card__quote-wrapper p {

    text-align: left;
    
    margin-left: 0;
    margin-right: auto;

}

.quote-card-single--right .quote-card__quote-wrapper {
    align-items: flex-end;
}

.quote-card-single--right .quote-card__quote-wrapper p {

    text-align: right;
    
    margin-left: auto;
    margin-right: 0;

}