.quote-card-vertical {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $card-gap-sm;

    padding: 40px 24px 56px;

    @include media-breakpoint-up(md) {
        padding: 60px 32px;
    }

    @include media-breakpoint-up(lg) {
        padding: 80px 8%;
        padding-right: 16%;
    }

}

.quote-card-vertical .quote-card__person-info {
    @include quote-card-person-info--with-person-icon;
    margin-top: map-get($spacers, 3);
}

.quote-card-vertical .quote-card__quote-wrapper {

    justify-content: flex-start;

    @include media-breakpoint-up(lg) {
        gap: $card-gap-sm;
    }

}