<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/dist/bundle.min.css" />
        <title>Summit Travel & FAQ</title>
    </head>

    <body>
        <!-- Summit Travel & FAQ Page Start -->
        <main class="veeva-2024">
            <!-- Secondary Navigation Start -->
            <div id="secondary-navigation" class="secondary-navigation">
                <div class="secondary-navigation__wrapper container">
                    <!-- left: main category -->
                    <div class="secondary-navigation__left">
                        <h3><span class="icon" data-icon="calendar-jump-to-date"></span>Commercial Summit</h3>
                    </div>

                    <!-- right: product menulist -->
                    <div class="secondary-navigation__right">
                        <!-- desktop menu -->
                        <ul class="secondary-navigation__desktop-menulist">
                            <!-- * Enter all nav links here * -->
                            <a class="dropdown-item" href="/events/commercial-summit" target="_self">
                                <li>Overview</li>
                            </a>
                            <a class="dropdown-item" href="/events/commercial-summit/register" target="_self">
                                <li>Registration</li>
                            </a>
                            <a class="dropdown-item active" href="/events/commercial-summit/travel" target="_self">
                                <li>Travel</li>
                            </a>
                            <a class="dropdown-item" href="/events/commercial-summit/faqs" target="_self">
                                <li>FAQs</li>
                            </a>
                        </ul>

                        <!-- mobile menu -->
                        <div id="secondary-navigation__mobile-dropdown" class="secondary-navigation__mobile-menulist dropdown">
                            <!-- current link, toggle mobile list -->
                            <div class="secondary-navigation__mobile-display-item dropdown-toggle" role="button" id="subnavLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <h6 class="desktop">View More</h6>
                            </div>

                            <!-- mobile dropdown -->
                            <ul class="secondary-navigation__mobile-dropdown-menu dropdown-menu container" aria-labelledby="subnavLink" data-popper-placement="bottom-start">
                                <div class="dropdown-menu-content">
                                    <!-- link will be generated based on `.secondary-navigation__desktop-menulist` -->
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary-navigation__backdrop"></div>
            <!-- Secondary Navigation End -->

            <!-- Hero Start -->
            <section class="hero-centered hero-centered--image hero-centered--anchor-bottom" style="background-image: url('/wp-content/themes/veeva2015/assets/fpo/hero-02.jpg')">
                <div class="copy-container container copy-container--center">
                    <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-commercial-summit.png" alt="" />
                    <p>Boston &bullet; May 7-8, 2024</p>
                </div>
            </section>
            <!-- Hero End -->

            <!-- People Start -->
            <section class="people-events people-events--light">
                <div class="copy-container container copy-container--center copy-container--eyebrow-gradient">
                    <h3>Travel Information</h3>
                    <p><strong>Event Venue</strong></p>
                    <p>
                        <a target="_blank" href="https://www.signatureboston.com/bcec">Boston Convention &amp; Exhibition Center</a> (BCEC)<br />
                        415 Summer Street, Boston, MA
                    </p>
                </div>
                <div class="people-events__cards container">
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="person-card-events person-card-events--light">
                        <img class="person-card-events__thumbnail" src="/wp-content/themes/veeva2015/assets/fpo/people-01.jpg" alt="" />
                        <h6>Cody Hart</h6>
                        <p>Director, Creative Technology</p>
                        <div class="person-card-events__experience-container">
                            <p>Experience</p>
                            <div class="person-card-events__logo-container">
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                                <img src="/wp-content/themes/veeva2015/assets/fpo/veeva-logo.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- People End -->
        </main>
        <!-- Summit Travel & FAQ Page End -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async=""></script>
        <script src="dist/bundle.min.js"></script>
    </body>
</html>
