.pagination {
    justify-content: center;

    padding-top: map-get($spacers, 6);
    margin-bottom: 0;

    @include media-breakpoint-up(xl) {
        justify-content: flex-end;
    }
}

.pagination .page-link {
    @include font(body-m);
    font-weight: 600;

    color: color(GalaxyBlack);
    background: transparent;

    transition: $transition-all-ease-in-out-1;
}

.pagination .prev-btn,
.pagination .next-btn {
    color: color(GalaxyBlack);
    background: transparent;
}

.pagination .page-link.active,
.pagination .page-link:hover {
    cursor: pointer;
    color: color(VeevaOrange);
}

.pagination .page-link:focus {
    box-shadow: none;
}

.pagination .prev-btn.disabled,
.pagination .next-btn.disabled {
    color: color(LightGray);
}

