.feature-stack-card--video {
    display: flex;
    position: relative;

    width: 100%;
    min-height: 150px;
    color: color(White);

    border-radius: $border-radius-xxs;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        min-height: 220px;
        border-radius: $border-radius-s;
    }
}

// feature resource card media
.feature-stack-card--video .featured-stack-card__media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.feature-stack-card--video .featured-stack-card__media::before {
    content: "";
    position: absolute;
    inset: 0;
    background: color(Black, 0.4);
    z-index: 4;
}

.feature-stack-card--video .featured-stack-card__media img,
.feature-stack-card--video .featured-stack-card__media .video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition-all-ease-in-out-1;
}

// custom img
.feature-stack-card--video .featured-stack-card__media img {
    z-index: 2;
}

.feature-stack-card--video .featured-stack-card__media .video {
    z-index: 1;
}

.feature-stack-card--video .featured-stack-card__content {
    position: relative;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: $card-gap-xxs;

    width: 100%;
    padding: 24px;

    z-index: 5;

    @include media-breakpoint-up(md) {
        padding: 32px 28px;
    }
}

.feature-stack-card--video h5 {
    @include font(h6);

    @include media-breakpoint-up(md) {
        font-size: $font-size-h5-desktop;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-h4-desktop;
    }
}

.feature-stack-card--video .featured-stack-card__cta {
    display: flex;
    width: fit-content;
}

.feature-stack-card--video .button-secondary,
.feature-stack-card--video .button-text-link {
    @include media-breakpoint-up(lg) {
        color: color(White);
    }
}

// hover
.feature-stack-card--video:hover {
    cursor: pointer;
}

.feature-stack-card--video:hover .featured-stack-card__media img,
.feature-stack-card--video:hover .featured-stack-card__media .video {
    transform: scale(1.05);
}

.feature-stack-card--video:hover .feature-stack-card__cta {
    @extend .active;
}
