.hero-highlights .statistic-card {

    display: flex;
    flex-direction: column;
    align-items: center;

    color: color(LightGray);

    @include media-breakpoint-up(md) {
        display: block;
        color: color(GalaxyBlack);
    }

}

.hero-highlights__copy-wrapper {

    padding: 140px 0 140px;
    background: $linear-gradient-white-grey;
    position: relative;

    @include media-breakpoint-up(md) {
        padding: 164px 0 140px;
    }

    @include media-breakpoint-up(lg) {
        padding: 184px 0 160px;
    }

}

.hero-highlights .copy-container {
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(xl) {
        max-width: $inner-content-max-width-xl;
    }
}

.hero-highlights__cards {

    @include hide-scrollbar;

    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    margin-top: calc(-76px * 2);
    padding-top: 76px;
    padding-bottom: 76px;

    position: relative;
    z-index: 3;
    max-width: $inner-content-max-width-xl;

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
        gap: map-get($spacers, 3);
    }

    @include media-breakpoint-up(lg) {
        gap: map-get($spacers, 4);
    }
}

.hero-highlights__cards .statistic-card {
    box-shadow: $box-shadow-lg-behind;
}

// content variation
.hero-highlights--image .hero-highlights__copy-wrapper::before,
.hero-highlights--image--dark-overlay .hero-highlights__copy-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
}

.hero-highlights--image--dark-overlay .hero-highlights__copy-wrapper::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.hero-highlights--card-scroll .hero-highlights__cards {
    @include media-breakpoint-down(md) {

        display: flex;
        flex-wrap: nowrap;

        width: fit-content;
        max-width: 100vw;
        
        overflow: scroll;

    }
}

.hero-highlights--card-scroll .hero-highlights__cards .statistic-card {
    @include media-breakpoint-down(md) {
        flex-shrink: 0;
        width: 80%;
    }
}

.hero-highlights--grid-2-up .hero-highlights__cards {
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
        max-width: $contained-width-md;
        gap: map-get($spacers, 5);
    }
}

.hero-highlights--grid-4-up .hero-highlights__cards {
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(4, 1fr);
        gap: map-get($spacers, 3);
        
        max-width: $contained-width-xl;
    }
}

// color variation
.hero-highlights--dark {
    color: color(White);
}

.hero-highlights--dark .hero-highlights__copy-wrapper {
    background: $linear-gradient-linear-dark;
}

.hero-highlights--light {
    color: color(GalaxyBlack);
}

/*********************/
/* Integration Fixes */
/*********************/

.hero-highlights__cards.container::before,
.hero-highlights__cards.container::after {
    display: none;
}