.logo-wall-listed {
    @include copy-content-spacing;
}

.logo-wall-listed__logos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: map-get($spacers, 2);

    @include media-breakpoint-up(md) {
        gap: map-get($spacers, 4);
    }

}

.logo-wall-listed__logos img {

    width: 25vw;

    @include media-breakpoint-up(md) {
        width: 200px;
    }

    @include media-breakpoint-up(lg) {
        border-radius: $border-radius-s;
    }

    @include media-breakpoint-up(xl) {
        width: 250px;
    }

    @include media-breakpoint-up(xxxl) {
        width: 220px;
    }

}

.logo-wall-listed--light.logo-wall-listed--floating-logos .logo-wall-listed__logos img {
    background-color: color(White);
}

.logo-wall-listed--dark.logo-wall-listed--floating-logos .logo-wall-listed__logos img {
    background-color: color(MidnightIndigo);
}

.logo-wall-listed--floating-logos .logo-wall-listed__logos {

    gap: map-get($spacers, 3);

    @include media-breakpoint-up(md) {
        gap: map-get($spacers, 4);
    }

}

.logo-wall-listed--floating-logos .logo-wall-listed__logos img {
    
    border-radius: $border-radius-xxs;
    box-shadow: $box-shadow-sm-behind;

    width: 35vw;

    @include media-breakpoint-up(sm) {
        width: 25vw;
    }

    @include media-breakpoint-up(md) {
        width: 200px;
        
        border-radius: $border-radius-xs;
    }

    @include media-breakpoint-up(xl) {
        width: 250px;
    }

    @include media-breakpoint-up(xxxl) {
        width: 220px;
    }

}

.logo-wall-listed .copy-container {
    @include media-breakpoint-up(lg) {
        max-width: $contained-width-lg;
    }
}

.logo-wall-listed--light {
    @include block-spacing(margin);
    color: color(GalaxyBlack);
}

.logo-wall-listed--dark {

    @include block-spacing(padding);

    color: color(White);
    background: $linear-gradient-linear-dark;

}

.logo-wall-listed--bg-grey {
    
    @include block-spacing(padding);
    
    margin: 0;
    background: color(NeutralGrey);

}

/*********************/
/* Integration Fixes */
/*********************/

.logo-wall-listed__logos:before,
.logo-wall-listed__logos:after {
    display: none;
}