.arrow-toggle-button {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    
    border-radius: 50%;
    
    transition: $transition-all-ease-in-out-1;

    @include media-breakpoint-up(md) {
        width: 32px;
        height: 32px;
    }

}

.arrow-toggle-button .icon {

    background: color(GalaxyBlack);
    
    width: 70%;
    
    transform: rotate(-180deg);
    transition: $transition-all-ease-in-out-1;

}

.arrow-toggle-button.inactive .icon {
    transform: rotate(0deg);
}

.arrow-toggle-button--light {
    background: color(NeutralGrey);
}

.arrow-toggle-button--light.inactive {
    background: color(White);
}

.arrow-toggle-button--light .icon {
    background: color(GalaxyBlack);
}

.arrow-toggle-button--dark {
    background: color(MidnightIndigo);
}

.arrow-toggle-button--dark .icon {
    background: color(White);
}

.arrow-toggle-button--bg-transparent {
    background: transparent;
}

.arrow-toggle-button--bg-transparent .icon {
    background: color(GalaxyBlack);
}