.filter-modal-btn {
    all: unset;

    display: inline-grid;
    place-items: center;

    width: 48px;
    height: 48px;

    border-radius: 100px;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.filter-modal-btn .icon {
    width: 25px;
    height: 25px;
}

@mixin filter-modal-btn--white {
    color: color(GalaxyBlack);
    background: color(White);
}

@mixin filter-modal-btn--grey {
    color: color(GalaxyBlack);
    background: color(NeutralGrey);
}

.filter-modal-btn--white {
    @include filter-modal-btn--white;
}

.filter-modal-btn--grey {
    @include filter-modal-btn--grey;
}
