.video-player-chapters {
    @include copy-content-spacing;
}

.video-player-chapters .copy-container h3 {
    max-width: $inner-content-max-width-lg;
} 

.video-player-chapters--light {
    @include block-spacing(margin);

    color: color(GalaxyBlack);
    background: color(White);
}

.video-player-chapters--dark {
    @include block-spacing(padding);

    background: $linear-gradient-linear-dark;
    color: color(White);
}

// loading state
.video-player-chapters .video-player-module > div,
.video-player-chapters .sub-video-nav-wrapper > div {
    opacity: 0;
}

.video-player-chapters .video-player-module,
.video-player-chapters .sub-video-nav-wrapper {
    position: relative;
}   

.video-player-chapters .video-player-module::before {
    @include spinning-loader;

    content: "";
    width: 32px;
    height: 32px;

    position: absolute;
    top: calc(50% - 32px / 2);
    right: calc(50% - 32px / 2);
}

.video-player-chapters.ready .video-player-module > div,
.video-player-chapters.ready .sub-video-nav-wrapper > div {
    opacity: 1;
}

.video-player-chapters.ready .video-player-module::before,
.video-player-chapters.ready .sub-video-nav-wrapper::before {
    opacity: 0;
}


