.marquee-subpoints {
    @include copy-content-spacing;
}

.marquee-subpoints .copy-container {
    max-width: $contained-width-lg;
}

.marquee-subpoints .card-link-farm {
    margin-top: $block-gap-sm;

    @include media-breakpoint-up(md) {
        margin-top: $block-gap-lg;
    }
}

.marquee-subpoints--light {

    @include block-spacing(margin);

    background: color(White);
    color: color(GalaxyBlack);

}

.marquee-subpoints--light .marquee-subpoints__list li p {
    color: color(GalaxyBlack);
}

.marquee-subpoints--dark {

    @include block-spacing(padding);

    background: $linear-gradient-linear-dark;
    color: color(White);

}

.marquee-subpoints__wrapper {

    display: flex;
    flex-direction: column-reverse;
    gap: $block-gap-sm;

    @include media-breakpoint-up(md) {
        gap: $block-gap-lg;
        flex-direction: column;
    }

}

.marquee-subpoints__list {

    display: grid;
    gap: $card-gap-lg;
    grid-template-columns: repeat(1, 1fr);

    text-align: center;

    padding: 0;
    margin: 0;

}

.marquee-subpoints__list li {
    list-style-type: none;
}

.marquee-subpoints__list li h6 {

    @include background-text-clip($linear-gradient-orange-compliant);

    margin-bottom: map-get($spacers, 2);
    width: auto;

}

.marquee-subpoints__list li p {

    @include font(body-s);

    max-width: 600px;
    margin: 0 auto;

}

.marquee-subpoints__list li p a {
    @include simple-text-link;
}

.marquee-subpoints--2-up .marquee-subpoints__list {
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.marquee-subpoints--3-up .marquee-subpoints__list {
    @include grid-3-col-up(32px, 32px, 32px)
}

.marquee-subpoints--4-up .marquee-subpoints__list {
    @include grid-4-col-up(32px, 32px);

    @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.marquee-subpoints__media img {

    width: 100%;
    border-radius: $border-radius-xxs;

    @include media-breakpoint-up(md) {
        border-radius: $border-radius-m;
    }

}

/*********************/
/* Integration Fixes */
/*********************/

.marquee-subpoints__wrapper:before,
.marquee-subpoints__wrapper:after {
    display: none;
}