// Fonts.
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap");

html {
    font-size: 10px; // Matching Veeva base font size for rems.
}

body.admin-bar .secondary-navigation {
    margin-top: 46px;
}

body.admin-bar .secondary-navigation {
    @media screen and (min-width: 783px) {
        margin-top: 32px;
    }
}

html {
    scroll-behavior: smooth;
}

#veeva-header-nav {
    transition: transform 0.48s linear(0, 0.0029 13.8%, 0.0184 21.9%, 0.0339 25.51%, 0.0551 28.81%, 0.0827 31.88%, 0.1168 34.76%, 0.1962 39.57%, 0.3005 44.02%, 0.4084 47.53%, 0.6242 53.45%, 0.7493 57.93%, 0.8495 62.97%, 0.8888 65.67%, 0.9213 68.51%, 0.9629 73.9%, 0.9876 80.16%, 0.998 87.5%, 1);
    transform: translateY(0);
}

#veeva-header-nav.offscreen {
    transition: transform 0.52s linear(0, 0.0029 13.8%, 0.0184 21.9%, 0.0339 25.51%, 0.0551 28.81%, 0.0827 31.88%, 0.1168 34.76%, 0.1962 39.57%, 0.3005 44.02%, 0.4084 47.53%, 0.6242 53.45%, 0.7493 57.93%, 0.8495 62.97%, 0.8888 65.67%, 0.9213 68.51%, 0.9629 73.9%, 0.9876 80.16%, 0.998 87.5%, 1);
    transform: translateY(-100%);
}

// Hide unloaded Vue template.
[v-cloak] {
    display: none;
}

// TODO: Remove once new navigation is in place.
#veeva-header-nav .container,
body footer .container {

    width: 100%;
    max-width: 95vw;
    padding-left: calc(1.5rem / 2);
    padding-right: calc(1.5rem / 2);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        max-width: 90vw;
    }

    @media (min-width: 768px) {
        max-width: 90vw;
    }

    @media (min-width: 992px) {
        max-width: 96vw;

        #veeva-menu-logo img {
            max-width: 115px;
        }
    }

    @media (min-width: 1200px) {
        max-width: 1140px;

        #veeva-menu-logo img {
            max-width: 135px;
        }
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
        padding-left: 0;
        padding-right: 0;
    }

    @media (min-width: 1600px) {
        max-width: 1440px;
    }

}

.veeva-2024 {

    // Base styles + Bootstrap overrides.
    @import './base/variables';               // ✅
    @import './base/custom';                  // ✅
    @import './base/mixins';                  // ✅
    @import './base/typography';              // ✅
    @import './base/utility';                 // ✅

    // Foundations.
    @import './foundations/avatar-thumbnail'; // ✅
    @import './foundations/button';           // ✅
    @import './foundations/icons';            // ✅
    @import './foundations/logos';            // ✅
    @import './foundations/footnote';         // ✅

    // Components.
    @import './components/accordion';         // ✅
    @import './components/cards';
    @import './components/common';            // ✅
    @import './components/modal';          
    @import './components/form';              // ✅
    @import './components/filter';  
    @import './components/navigation';        // ✅
    @import './components/quote';             // ✅
    @import './components/content';
    @import './components/sidebar';           // ✅
    @import './components/statistic';         // ✅
    @import './components/tabs';              // ✅
    @import './components/video';             // ✅

    @import "./components/cards/resource-card";

    // Blocks.
    @import './blocks/accordion';             // ✅
    @import './blocks/alert';                 // ✅
    @import './blocks/cards';
    @import './blocks/hero';                  // ✅
    @import './blocks/logo-wall';             // ✅
    @import './blocks/marquee';               // ✅
    @import './blocks/quote';                 // ✅
    @import './blocks/general';
    @import './blocks/statistic';             // ✅
    @import './blocks/tabs';                  // ✅
    @import './blocks/video-player';          // ✅
    @import './blocks/z-pattern';             // ✅

    @import './blocks/cards/resource-blocks';

    // Pages.
    @import './pages/home';                   // ✅
    @import './pages/product';                // ✅
    @import './pages/summit';                 // ✅
    @import './pages/gateway';
    @import './pages/resource';               // ✅
    @import './pages/service';
    @import './pages/business-consulting';
    @import './pages/pillar';
    @import './pages/about';

    // Global styles.
    font-family: $body-font-family;
    max-width: 100vw;

    section {
        position: relative;
    }

}

.veeva-2024-preview {
    padding-top: 48px;

    @media (min-width: 768px) {
        padding-top: 64px;
    }

    @media (min-width: 992px) {
        padding-top: 76px;
    }

    @import './preview/index.scss';
}

// avoid wordpress adminbar covering up modal when opening up
body.modal-open #wpadminbar {
    z-index: 1031;
}
